*, body {
  margin:0;
  padding:0;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

/*title*/
.title {
  background-color:#F5F5F5;
  padding:20px 10px 5px 10px;
  height:40pt;
}

/*words for the title*/
.title-heading {
  font-size:35px;
  color: #003366;
  font-family: "Tahoma";
  text-shadow: 1px 2px 2px  #66c2ff;
}


/* navigation bar*/
.navbar{
  overflow: hidden;
  background-color: #33adff;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

/*menu buttons without dropdown list*/
.navbar a {
   float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    width:20%;
    padding:20px 0px;
    text-decoration: none;
}

/*overall division of the dropdown*/
.dropdown {
  width: 20%;
  text-align:center;
}

/*dropdown button*/
.dropdown .dropdown-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 20px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/*division including the dropdown and the dropdown button*/
.dropdown{
  float:left;
  overflow:hidden;
}


/*hovering over menu buttons*/
.navbar a:hover, .dropdown:hover .dropdown-button {
  background-color: #F5F5F5;
  color:black;
}


/*content for the dropdown*/
.dropdown-content {
    display: none;

    background-color:#F5F5F5;
    min-width:35%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin:0;
}

/*links for the dropdown*/
.dropdown-content a{
    float: none;
    text-align:center;
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    min-width:100%;
    margin:0;
}

/*displays content when the mouse hovers over the dropdown button*/
.dropdown:hover .dropdown-content {
    display: block;
}


/*hovering over the links of the dropdown*/
.dropdown-content a:hover {
    background-color: #00ace6;
    color:white;
}


/*picture*/
.home_image {
    background-image: url("pictures/night_city.jpg");
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*homepage header*/
.cnt_head_home_img{
  color: 	#33adff;
  background-color:#F5F5F5;
  opacity: 0.9;
  padding: 20px 30px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius:20px;
  text-align:center;
}

/*header for the home image*/
.header {
  font-size: 40pt;
  text-shadow:2px 5px 5px black;
}

/*description of the site*/
.description {
  color: black;
  padding: 60px 100px;
  background-color:#F5F5F5;
  padding-bottom: 40px;
}

.description h2 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align:center;
  padding-bottom: 10px;
}

.description p {
  opacity: 0.6;
  text-align: center;
  color: black;
}




/*second parralax image description*/
.mv_img2 {
  background-image: url("pictures/country_road.png");
  background-repeat: norepeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 400px;

}

.mv_img2 div {
  background-color: white;
  opacity: 0.8;
  padding: 20px 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  position: relative;
  max-width: 50%;
  box-shadow: 0px 10px 8px 5px black;
}

.mv_img2 div h2 {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
}

.mv_img2 div p {
  text-align: center;
}





/*footer*/

.footer {

  background-color: #001133;
  padding: 60px 40px 140px 40px;
  z-index:2;
  position:relative;
  

}


.footer_items p {

  color: white;

  font-size: 12px;

}


.about{
  margin-left:34%
}


.memeber{
  float:left;
}




.photo{
  width: 75px;
  height: 75px;
  background-color:#80ccff;
  border-radius:100%;
  margin:auto;
  margin:0 2.5em;
}

/*
.first{
  background-image: url("../pictures/footer/about1AD.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.second{
  background-image: url("../pictures/footer/about2AA.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.third{
  background-image: url("../pictures/footer/about3AA.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
*/


.name{
  text-align:center;
  font-size:15px;
  font-weight:bold;
}

.rights{
  height:50px;
  background-color:#80ccff;
}

.rights{
  text-align:center;
  color:white;
  font-size:18px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:2px;
}

.reserved_rights{
  line-height:50px;
}




/*when the screen width is less than 1400px*/
@media screen and (max-width: 1400px) {
    .about{
        margin-left:29%
    }
}

/*when the screen width is less than 1080px*/
@media screen and (max-width: 1080px) {
     .about{
        margin-left:27%
    }
}

/*when the screen width is less than 970px*/
@media screen and (max-width: 970px) {
     .about{
        margin-left:24%
    }
}

/*when the screen width is less than 900px*/
@media screen and (max-width: 870px) {
     .about{
        margin-left:20%
    }
}


/*when the screen width is less than 900px*/
@media screen and (max-width: 870px) {
     .about{
        margin-left:20%
    }
}


/*when the screen width is less than 760px*/
@media screen and (max-width: 760px) {
     .about{
        margin-left:16%
    }
}

/*when the screen width is less than 640px*/
@media screen and (max-width: 640px) {
     .about{
        margin-left:10%
    }
    
    .photo{
        width:60px;
        height:60px;
    }
}


/*when the screen width is less than 530px*/
@media screen and (max-width: 530px) {
     .about{
        margin-left:5%
    }
}


/*when the screen width is less than 480px*/
@media screen and (max-width: 480px) {
     .about{
        margin-left:10%
    }
    
    .photo{
        margin:0 2em;
    }
}

/*when the screen width is less than 450px*/
@media screen and (max-width: 450px) {
     .about{
        margin-left:0;
    }
    
    .photo{
        margin:0 2em;
    }
}

/*when the screen width is less than 420px*/
@media screen and (max-width: 420px) {
    .photo{
        width:55px;
        height:55px;
        margin:0 1.5em;
    }
    
    .footer{
        padding: 60px 30px 140px 30px;
    }
    
    .rights{
        letter-spacing:0;
    }
}

/*when the screen width is less than 380px*/
@media screen and (max-width: 380px) {
    .photo{
        width:50px;
        height:50px;
    }
    
    .footer{
        padding: 60px 20px 140px 20px;
    }
}


/*when the screen width is less than 500px*/

@media screen and (max-width: 500px) {

  .footer_items p {

    font-size:10px;

  }

}






/*when the screen width is less than 700px*/
@media screen and (max-width: 700px) {
  .navbar a, .dropdown {
    width:100%;
  }

  .dropdown-content, .dropdown-content {
    min-width:100%;
  }

  /*heading image position*/
  .cnt_head_home_img{
    top: 75%;
  }

  /*header*/
  .header {
    font-size: 15pt;
  }
}
