h1{
  color:#33adff;
  text-align: center;
}
h2{
  color:rgb(10, 10, 10);
  text-align: center;
  
}
body {

        background-image: url('https://images.wallpaperscraft.com/image/mountains_road_marking_119081_3840x2400.jpg');  
        background-repeat: no-repeat;
        background-size: cover;
      }
div{
  background-color: white;
  opacity: 0.8;
  padding: 20px 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  position: relative;
  max-width: 50%;
  box-shadow: 0px 10px 8px 5px black;
  text-align: center;
}

/*link*/
.quiz_link {
  text-decoration:none;
  color:#ff3385;
  font-weight:bold;
}


.quiz_link:hover {
  text-shadow: 0 3px 2px  #ff99e6;
  color:#cc0052;
  transition: text-shadow 0.5s, color 1s;
}

#ODN{
  transform: translate(-25%,-25%);
  font-size: 500px;
}
