h1{
  color:#33adff;
  text-align: center;
}
h2{
  color:#FFFFFF;
  text-align: center;
  
}
h3{
  color:#FFFFFF;
  text-align: center;
  
}
body {
        height: 1300px;
        width: 1000px;
        background-image: url('https://wallpaperlayer.com/img/2015/7/road-wallpaper-447-510-hd-wallpapers.jpg');  
        background-repeat: no-repeat;
        background-size: cover;
      }
