*{
  overflow-x:hidden;  
}

h1{
  color:#005266;
  text-align: center;
  font-size:35px;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.content{
    background-image: url('../pictures/info_pages/winter.jpg');  
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}


#para{
  background-color: white;
  opacity: 0.8;
  padding: 60px 90px;
  left: 50%;
  -ms-transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
  position: absolute;
  max-width: 80%;
  min-width:50%;
  box-shadow: 0px 10px 8px 5px black;
  font-size: 20px;
  min-height:100%;
}

.paragraph{
    text-align: justify;
}

/*link*/
.info_link {
  text-decoration:none;
  color:#004d66;
  font-weight:bold;
}


.info_link:hover {
  color:#0086b3;
  -ms-transition: color 1s;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}

/*link to Ontario Driver's Handbook*/
.handbook{
    text-align:left;
}

.follow_link{
    margin-top:30px;
    font-weight:bold;
    text-align:left;
}


/*underline below the link*/
.info_underline {
  opacity:0;
  background-color:#0086b3;
  padding: 1px 0;
  width:1px;
}

/*show underline when hovering over the link*/
.info_link:hover ~ .info_underline {
  opacity:1;
  -ms-transform-origin:left;
  -webkit-transform-origin:left;
  -moz-transform-origin:left;
  -o-transform-origin:left;
  transform-origin:left;
  transition: transform 1s;
  -ms-transform: scaleX(220);
  -webkit-transform: scaleX(220);
  -moz-transform: scaleX(220);
  -o-transform: scaleX(220);
  transform: scaleX(220);
}

/*when the screen width is less than 900px*/
@media screen and (max-width: 900px) {
    h1{
        font-size:30px;
    }
}

/*when the screen width is less than 750px*/
@media screen and (max-width: 750px) {
    .content{
        min-height:900px;
    }
}

/*when the screen width is less than 650px*/
@media screen and (max-width: 650px) {
    #para{
        min-width:60%;
    }
    
}

/*when the screen width is less than 550px*/
@media screen and (max-width: 550px) {
    #para{
        padding:60px 70px;
    }
}

/*when the screen width is less than 500px*/
@media screen and (max-width: 500px) {
    .paragraph, .follow_link, .info_link{
        font-size:14px;
    }
    
    h1{
        font-size:25px;
    }
    
}

/*when the screen width is less than 450px*/
@media screen and (max-width: 450px) {
    .paragraph, .follow_link, .info_link{
        font-size:13px;
    }
}

/*when the screen width is less than 400px*/
@media screen and (max-width: 400px) {
    #para{
        min-width:70%;
        padding:60px 40px;
    }
}

/*when the screen width is less than 350px*/
@media screen and (max-width: 350px) {
    .paragraph, .follow_link, .info_link{
        font-size:12px;
    }
}
